$text = #424242
$htext = #5dcb57
$ltext = #999d99

$link = $text
$hover = darken($link, 15)
$active = darken($link, 5)
$visited = lighten($link, 0)
$decoration = lighten($link, 50)

$hlink = $htext
$hhover = darken($hlink, 15)
$hactive = darken($hlink, 5)
$hvisited = lighten($hlink, 0)
$hdecoration = lighten($hlink, 50)

$llink = $ltext
$lhover = darken($llink, 15)
$lactive = darken($llink, 5)
$lvisited = lighten($llink, 0)
$ldecoration = lighten($llink, 50)

$btn-bg = $text
$hbtn-bg = $htext
$lbtn-bg = lighten($ltext, 30)
$btn-text = lighten($btn-bg, 75)
$hbtn-text = lighten($hbtn-bg, 75)
$lbtn-text = $text

$bg = #f8f7f5
$hbg = #ffffff
$select = #d2d9d3
