$sans = 'Source Sans Pro', 'Helvetica Neue', 'Arial', 'Source Han Sans SC', 'WenQuanYi Micro Hei', 'Microsoft Yahei', 'Hiragino Sans GB', 'STXihei', 'SimSun', sans-serif
// $serif = 'Droid Serif', 'Times New Roman', SimSun, serif
$serif = 'Source Serif Pro', 'Roboto Slab', 'Source Han Serif SC', serif
$monospace = 'Hack', 'Source Code Pro', monospace

$m-text = 1rem
$l-text = $m-text * 1.25
$xl-text = $m-text * 1.5
$xxl-text = $m-text * 2
$s-text = $m-text * .875
$xs-text = $m-text * .75
