/* fonts */
@font-face
  font-family 'Glyphicons Halflings'
  src url('/fonts/glyphicons-halflings-regular.eot')
  src url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg')

/* Catchall baseclass */
.glyphicon::before
    font-family 'Glyphicons Halflings'
    font-weight normal
    font-style normal
    line-height 1
    position relative
    display inline-block
    -webkit-font-smoothing antialiased

icon($name, $content)
  .glyphicon-{$name}::before
    content $content
/* Individual icons */
icon(asterisk, '\2a')
icon(plus, '\2b')
icon(euro, '\20ac')
icon(minus, '\2212')
icon(cloud, '\2601')
icon(envelope, '\2709')
icon(pencil, '\270f')
icon(glass, '\e001')
icon(music, '\e002')
icon(search, '\e003')
icon(heart, '\e005')
icon(star, '\e006')
icon(star-empty, '\e007')
icon(user, '\e008')
icon(film, '\e009')
icon(th-large, '\e010')
icon(th, '\e011')
icon(th-list, '\e012')
icon(ok, '\e013')
icon(remove, '\e014')
icon(zoom-in, '\e015')
icon(zoom-out, '\e016')
icon(off, '\e017')
icon(signal, '\e018')
icon(cog, '\e019')
icon(trash, '\e020')
icon(home, '\e021')
icon(file, '\e022')
icon(time, '\e023')
icon(road, '\e024')
icon(download-alt, '\e025')
icon(download, '\e026')
icon(upload, '\e027')
icon(inbox, '\e028')
icon(play-circle, '\e029')
icon(repeat, '\e030')
icon(refresh, '\e031')
icon(list-alt, '\e032')
icon(flag, '\e034')
icon(headphones, '\e035')
icon(volume-off, '\e036')
icon(volume-down, '\e037')
icon(volume-up, '\e038')
icon(qrcode, '\e039')
icon(barcode, '\e040')
icon(tag, '\e041')
icon(tags, '\e042')
icon(book, '\e043')
icon(print, '\e045')
icon(font, '\e047')
icon(bold, '\e048')
icon(italic, '\e049')
icon(text-height, '\e050')
icon(text-width, '\e051')
icon(align-left, '\e052')
icon(align-center, '\e053')
icon(align-right, '\e054')
icon(align-justify, '\e055')
icon(list, '\e056')
icon(indent-left, '\e057')
icon(indent-right, '\e058')
icon(facetime-video, '\e059')
icon(picture, '\e060')
icon(map-marker, '\e062')
icon(adjust, '\e063')
icon(tint, '\e064')
icon(edit, '\e065')
icon(share, '\e066')
icon(check, '\e067')
icon(move, '\e068')
icon(step-backward, '\e069')
icon(fast-backward, '\e070')
icon(backward, '\e071')
icon(play, '\e072')
icon(pause, '\e073')
icon(stop, '\e074')
icon(forward, '\e075')
icon(fast-forward, '\e076')
icon(step-forward, '\e077')
icon(eject, '\e078')
icon(chevron-left, '\e079')
icon(chevron-right, '\e080')
icon(plus-sign, '\e081')
icon(minus-sign, '\e082')
icon(remove-sign, '\e083')
icon(ok-sign, '\e084')
icon(question-sign, '\e085')
icon(info-sign, '\e086')
icon(screenshot, '\e087')
icon(remove-circle, '\e088')
icon(ok-circle, '\e089')
icon(ban-circle, '\e090')
icon(arrow-left, '\e091')
icon(arrow-right, '\e092')
icon(arrow-up, '\e093')
icon(arrow-down, '\e094')
icon(share-alt, '\e095')
icon(resize-full, '\e096')
icon(resize-small, '\e097')
icon(exclamation-sign, '\e101')
icon(gift, '\e102')
icon(leaf, '\e103')
icon(eye-open, '\e105')
icon(eye-close, '\e106')
icon(warning-sign, '\e107')
icon(plane, '\e108')
icon(random, '\e110')
icon(comment, '\e111')
icon(magnet, '\e112')
icon(chevron-up, '\e113')
icon(chevron-down, '\e114')
icon(retweet, '\e115')
icon(shopping-cart, '\e116')
icon(folder-close, '\e117')
icon(folder-open, '\e118')
icon(resize-vertical, '\e119')
icon(resize-horizontal, '\e120')
icon(hdd, '\e121')
icon(bullhorn, '\e122')
icon(certificate, '\e124')
icon(thumbs-up, '\e125')
icon(thumbs-down, '\e126')
icon(hand-right, '\e127')
icon(hand-left, '\e128')
icon(hand-up, '\e129')
icon(hand-down, '\e130')
icon(circle-arrow-right, '\e131')
icon(circle-arrow-left, '\e132')
icon(circle-arrow-up, '\e133')
icon(circle-arrow-down, '\e134')
icon(globe, '\e135')
icon(tasks, '\e137')
icon(filter, '\e138')
icon(fullscreen, '\e140')
icon(dashboard, '\e141')
icon(heart-empty, '\e143')
icon(link, '\e144')
icon(phone, '\e145')
icon(usd, '\e148')
icon(gbp, '\e149')
icon(sort, '\e150')
icon(sort-by-alphabet, '\e151')
icon(sort-by-alphabet-alt, '\e152')
icon(sort-by-order, '\e153')
icon(sort-by-order-alt, '\e154')
icon(sort-by-attributes, '\e155')
icon(sort-by-attributes-alt, '\e156')
icon(unchecked, '\e157')
icon(expand, '\e158')
icon(collapse-down, '\e159')
icon(collapse-up, '\e160')
icon(log-in, '\e161')
icon(flash, '\e162')
icon(log-out, '\e163')
icon(new-window, '\e164')
icon(record, '\e165')
icon(save, '\e166')
icon(open, '\e167')
icon(saved, '\e168')
icon(import, '\e169')
icon(export, '\e170')
icon(send, '\e171')
icon(floppy-disk, '\e172')
icon(floppy-saved, '\e173')
icon(floppy-remove, '\e174')
icon(floppy-save, '\e175')
icon(floppy-open, '\e176')
icon(credit-card, '\e177')
icon(transfer, '\e178')
icon(cutlery, '\e179')
icon(header, '\e180')
icon(compressed, '\e181')
icon(earphone, '\e182')
icon(phone-alt, '\e183')
icon(tower, '\e184')
icon(stats, '\e185')
icon(sd-video, '\e186')
icon(hd-video, '\e187')
icon(subtitles, '\e188')
icon(sound-stereo, '\e189')
icon(sound-dolby, '\e190')
icon(sound-5-1, '\e191')
icon(sound-6-1, '\e192')
icon(sound-7-1, '\e193')
icon(copyright-mark, '\e194')
icon(registration-mark, '\e195')
icon(cloud-download, '\e197')
icon(cloud-upload, '\e198')
icon(tree-conifer, '\e199')
icon(tree-deciduous, '\e200')
icon(briefcase, '\1f4bc')
icon(calendar, '\1f4c5')
icon(pushpin, '\1f4cc')
icon(paperclip, '\1f4ce')
icon(camera, '\1f4f7')
icon(lock, '\1f512')
icon(bell, '\1f514')
icon(bookmark, '\1f516')
icon(fire, '\1f525')
icon(wrench, '\1f527')
