link($type = '')
  &
    text-decoration-line none
    text-decoration-style solid
    text-decoration-skip ink
    text-decoration-color lookup('$' + $type + 'decoration')
    color lookup('$' + $type + 'link')
    &:visited
      color lookup('$' + $type + 'visited')
    &:hover
      text-decoration-line underline
      color lookup('$' + $type + 'hover')
    &:active
      color lookup('$' + $type + 'active')

button($type = '')
  &
    display inline-block
    padding 0 .5em
    color lookup('$' + $type + 'btn-text')
    border-radius .125rem
    background lookup('$' + $type + 'btn-bg')

underline($type = '')
  &::after
    display block
    height .125rem
    content ''
    border-radius .0625rem
    background lookup('$' + $type + 'text')

overline($type = '')
  &::before
    display block
    height .125rem
    content ''
    border-radius .0625rem
    background lookup('$' + $type + 'text')

predot($type = '')
  &::before
    display inline-block
    width .25rem
    height .25rem
    margin-right .5rem
    content ''
    vertical-align middle
    border-radius .125rem
    background lookup('$' + $type + 'text')
