@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/fonts/glyphicons-halflings-regular.eot");
  src: url("/fonts/glyphicons-halflings-regular.eot?#iefix") format('embedded-opentype'), url("/fonts/glyphicons-halflings-regular.woff") format('woff'), url("/fonts/glyphicons-halflings-regular.ttf") format('truetype'), url("/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format('svg');
}
.glyphicon::before {
  font-family: 'Glyphicons Halflings';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
.glyphicon-asterisk::before {
  content: '\2a';
}
.glyphicon-plus::before {
  content: '\2b';
}
.glyphicon-euro::before {
  content: '\20ac';
}
.glyphicon-minus::before {
  content: '\2212';
}
.glyphicon-cloud::before {
  content: '\2601';
}
.glyphicon-envelope::before {
  content: '\2709';
}
.glyphicon-pencil::before {
  content: '\270f';
}
.glyphicon-glass::before {
  content: '\e001';
}
.glyphicon-music::before {
  content: '\e002';
}
.glyphicon-search::before {
  content: '\e003';
}
.glyphicon-heart::before {
  content: '\e005';
}
.glyphicon-star::before {
  content: '\e006';
}
.glyphicon-star-empty::before {
  content: '\e007';
}
.glyphicon-user::before {
  content: '\e008';
}
.glyphicon-film::before {
  content: '\e009';
}
.glyphicon-th-large::before {
  content: '\e010';
}
.glyphicon-th::before {
  content: '\e011';
}
.glyphicon-th-list::before {
  content: '\e012';
}
.glyphicon-ok::before {
  content: '\e013';
}
.glyphicon-remove::before {
  content: '\e014';
}
.glyphicon-zoom-in::before {
  content: '\e015';
}
.glyphicon-zoom-out::before {
  content: '\e016';
}
.glyphicon-off::before {
  content: '\e017';
}
.glyphicon-signal::before {
  content: '\e018';
}
.glyphicon-cog::before {
  content: '\e019';
}
.glyphicon-trash::before {
  content: '\e020';
}
.glyphicon-home::before {
  content: '\e021';
}
.glyphicon-file::before {
  content: '\e022';
}
.glyphicon-time::before {
  content: '\e023';
}
.glyphicon-road::before {
  content: '\e024';
}
.glyphicon-download-alt::before {
  content: '\e025';
}
.glyphicon-download::before {
  content: '\e026';
}
.glyphicon-upload::before {
  content: '\e027';
}
.glyphicon-inbox::before {
  content: '\e028';
}
.glyphicon-play-circle::before {
  content: '\e029';
}
.glyphicon-repeat::before {
  content: '\e030';
}
.glyphicon-refresh::before {
  content: '\e031';
}
.glyphicon-list-alt::before {
  content: '\e032';
}
.glyphicon-flag::before {
  content: '\e034';
}
.glyphicon-headphones::before {
  content: '\e035';
}
.glyphicon-volume-off::before {
  content: '\e036';
}
.glyphicon-volume-down::before {
  content: '\e037';
}
.glyphicon-volume-up::before {
  content: '\e038';
}
.glyphicon-qrcode::before {
  content: '\e039';
}
.glyphicon-barcode::before {
  content: '\e040';
}
.glyphicon-tag::before {
  content: '\e041';
}
.glyphicon-tags::before {
  content: '\e042';
}
.glyphicon-book::before {
  content: '\e043';
}
.glyphicon-print::before {
  content: '\e045';
}
.glyphicon-font::before {
  content: '\e047';
}
.glyphicon-bold::before {
  content: '\e048';
}
.glyphicon-italic::before {
  content: '\e049';
}
.glyphicon-text-height::before {
  content: '\e050';
}
.glyphicon-text-width::before {
  content: '\e051';
}
.glyphicon-align-left::before {
  content: '\e052';
}
.glyphicon-align-center::before {
  content: '\e053';
}
.glyphicon-align-right::before {
  content: '\e054';
}
.glyphicon-align-justify::before {
  content: '\e055';
}
.glyphicon-list::before {
  content: '\e056';
}
.glyphicon-indent-left::before {
  content: '\e057';
}
.glyphicon-indent-right::before {
  content: '\e058';
}
.glyphicon-facetime-video::before {
  content: '\e059';
}
.glyphicon-picture::before {
  content: '\e060';
}
.glyphicon-map-marker::before {
  content: '\e062';
}
.glyphicon-adjust::before {
  content: '\e063';
}
.glyphicon-tint::before {
  content: '\e064';
}
.glyphicon-edit::before {
  content: '\e065';
}
.glyphicon-share::before {
  content: '\e066';
}
.glyphicon-check::before {
  content: '\e067';
}
.glyphicon-move::before {
  content: '\e068';
}
.glyphicon-step-backward::before {
  content: '\e069';
}
.glyphicon-fast-backward::before {
  content: '\e070';
}
.glyphicon-backward::before {
  content: '\e071';
}
.glyphicon-play::before {
  content: '\e072';
}
.glyphicon-pause::before {
  content: '\e073';
}
.glyphicon-stop::before {
  content: '\e074';
}
.glyphicon-forward::before {
  content: '\e075';
}
.glyphicon-fast-forward::before {
  content: '\e076';
}
.glyphicon-step-forward::before {
  content: '\e077';
}
.glyphicon-eject::before {
  content: '\e078';
}
.glyphicon-chevron-left::before {
  content: '\e079';
}
.glyphicon-chevron-right::before {
  content: '\e080';
}
.glyphicon-plus-sign::before {
  content: '\e081';
}
.glyphicon-minus-sign::before {
  content: '\e082';
}
.glyphicon-remove-sign::before {
  content: '\e083';
}
.glyphicon-ok-sign::before {
  content: '\e084';
}
.glyphicon-question-sign::before {
  content: '\e085';
}
.glyphicon-info-sign::before {
  content: '\e086';
}
.glyphicon-screenshot::before {
  content: '\e087';
}
.glyphicon-remove-circle::before {
  content: '\e088';
}
.glyphicon-ok-circle::before {
  content: '\e089';
}
.glyphicon-ban-circle::before {
  content: '\e090';
}
.glyphicon-arrow-left::before {
  content: '\e091';
}
.glyphicon-arrow-right::before {
  content: '\e092';
}
.glyphicon-arrow-up::before {
  content: '\e093';
}
.glyphicon-arrow-down::before {
  content: '\e094';
}
.glyphicon-share-alt::before {
  content: '\e095';
}
.glyphicon-resize-full::before {
  content: '\e096';
}
.glyphicon-resize-small::before {
  content: '\e097';
}
.glyphicon-exclamation-sign::before {
  content: '\e101';
}
.glyphicon-gift::before {
  content: '\e102';
}
.glyphicon-leaf::before {
  content: '\e103';
}
.glyphicon-eye-open::before {
  content: '\e105';
}
.glyphicon-eye-close::before {
  content: '\e106';
}
.glyphicon-warning-sign::before {
  content: '\e107';
}
.glyphicon-plane::before {
  content: '\e108';
}
.glyphicon-random::before {
  content: '\e110';
}
.glyphicon-comment::before {
  content: '\e111';
}
.glyphicon-magnet::before {
  content: '\e112';
}
.glyphicon-chevron-up::before {
  content: '\e113';
}
.glyphicon-chevron-down::before {
  content: '\e114';
}
.glyphicon-retweet::before {
  content: '\e115';
}
.glyphicon-shopping-cart::before {
  content: '\e116';
}
.glyphicon-folder-close::before {
  content: '\e117';
}
.glyphicon-folder-open::before {
  content: '\e118';
}
.glyphicon-resize-vertical::before {
  content: '\e119';
}
.glyphicon-resize-horizontal::before {
  content: '\e120';
}
.glyphicon-hdd::before {
  content: '\e121';
}
.glyphicon-bullhorn::before {
  content: '\e122';
}
.glyphicon-certificate::before {
  content: '\e124';
}
.glyphicon-thumbs-up::before {
  content: '\e125';
}
.glyphicon-thumbs-down::before {
  content: '\e126';
}
.glyphicon-hand-right::before {
  content: '\e127';
}
.glyphicon-hand-left::before {
  content: '\e128';
}
.glyphicon-hand-up::before {
  content: '\e129';
}
.glyphicon-hand-down::before {
  content: '\e130';
}
.glyphicon-circle-arrow-right::before {
  content: '\e131';
}
.glyphicon-circle-arrow-left::before {
  content: '\e132';
}
.glyphicon-circle-arrow-up::before {
  content: '\e133';
}
.glyphicon-circle-arrow-down::before {
  content: '\e134';
}
.glyphicon-globe::before {
  content: '\e135';
}
.glyphicon-tasks::before {
  content: '\e137';
}
.glyphicon-filter::before {
  content: '\e138';
}
.glyphicon-fullscreen::before {
  content: '\e140';
}
.glyphicon-dashboard::before {
  content: '\e141';
}
.glyphicon-heart-empty::before {
  content: '\e143';
}
.glyphicon-link::before {
  content: '\e144';
}
.glyphicon-phone::before {
  content: '\e145';
}
.glyphicon-usd::before {
  content: '\e148';
}
.glyphicon-gbp::before {
  content: '\e149';
}
.glyphicon-sort::before {
  content: '\e150';
}
.glyphicon-sort-by-alphabet::before {
  content: '\e151';
}
.glyphicon-sort-by-alphabet-alt::before {
  content: '\e152';
}
.glyphicon-sort-by-order::before {
  content: '\e153';
}
.glyphicon-sort-by-order-alt::before {
  content: '\e154';
}
.glyphicon-sort-by-attributes::before {
  content: '\e155';
}
.glyphicon-sort-by-attributes-alt::before {
  content: '\e156';
}
.glyphicon-unchecked::before {
  content: '\e157';
}
.glyphicon-expand::before {
  content: '\e158';
}
.glyphicon-collapse-down::before {
  content: '\e159';
}
.glyphicon-collapse-up::before {
  content: '\e160';
}
.glyphicon-log-in::before {
  content: '\e161';
}
.glyphicon-flash::before {
  content: '\e162';
}
.glyphicon-log-out::before {
  content: '\e163';
}
.glyphicon-new-window::before {
  content: '\e164';
}
.glyphicon-record::before {
  content: '\e165';
}
.glyphicon-save::before {
  content: '\e166';
}
.glyphicon-open::before {
  content: '\e167';
}
.glyphicon-saved::before {
  content: '\e168';
}
.glyphicon-import::before {
  content: '\e169';
}
.glyphicon-export::before {
  content: '\e170';
}
.glyphicon-send::before {
  content: '\e171';
}
.glyphicon-floppy-disk::before {
  content: '\e172';
}
.glyphicon-floppy-saved::before {
  content: '\e173';
}
.glyphicon-floppy-remove::before {
  content: '\e174';
}
.glyphicon-floppy-save::before {
  content: '\e175';
}
.glyphicon-floppy-open::before {
  content: '\e176';
}
.glyphicon-credit-card::before {
  content: '\e177';
}
.glyphicon-transfer::before {
  content: '\e178';
}
.glyphicon-cutlery::before {
  content: '\e179';
}
.glyphicon-header::before {
  content: '\e180';
}
.glyphicon-compressed::before {
  content: '\e181';
}
.glyphicon-earphone::before {
  content: '\e182';
}
.glyphicon-phone-alt::before {
  content: '\e183';
}
.glyphicon-tower::before {
  content: '\e184';
}
.glyphicon-stats::before {
  content: '\e185';
}
.glyphicon-sd-video::before {
  content: '\e186';
}
.glyphicon-hd-video::before {
  content: '\e187';
}
.glyphicon-subtitles::before {
  content: '\e188';
}
.glyphicon-sound-stereo::before {
  content: '\e189';
}
.glyphicon-sound-dolby::before {
  content: '\e190';
}
.glyphicon-sound-5-1::before {
  content: '\e191';
}
.glyphicon-sound-6-1::before {
  content: '\e192';
}
.glyphicon-sound-7-1::before {
  content: '\e193';
}
.glyphicon-copyright-mark::before {
  content: '\e194';
}
.glyphicon-registration-mark::before {
  content: '\e195';
}
.glyphicon-cloud-download::before {
  content: '\e197';
}
.glyphicon-cloud-upload::before {
  content: '\e198';
}
.glyphicon-tree-conifer::before {
  content: '\e199';
}
.glyphicon-tree-deciduous::before {
  content: '\e200';
}
.glyphicon-briefcase::before {
  content: '\1f4bc';
}
.glyphicon-calendar::before {
  content: '\1f4c5';
}
.glyphicon-pushpin::before {
  content: '\1f4cc';
}
.glyphicon-paperclip::before {
  content: '\1f4ce';
}
.glyphicon-camera::before {
  content: '\1f4f7';
}
.glyphicon-lock::before {
  content: '\1f512';
}
.glyphicon-bell::before {
  content: '\1f514';
}
.glyphicon-bookmark::before {
  content: '\1f516';
}
.glyphicon-fire::before {
  content: '\1f525';
}
.glyphicon-wrench::before {
  content: '\1f527';
}
html {
  line-height: 1.15 /* 1 */;
  -ms-text-size-adjust: 100% /* 2 */;
  -webkit-text-size-adjust: 100% /* 2 */;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  overflow: visible /* 2 */;
  box-sizing: content-box /* 1 */;
  height: 0 /* 1 */;
}
pre {
  font-family: monospace, monospace /* 1 */;
  font-size: 1em /* 2 */;
}
a {
  background-color: transparent /* 1 */;
  -webkit-text-decoration-skip: objects /* 2 */;
}
abbr[title] {
  border-bottom: none /* 1 */;
  text-decoration: underline /* 2 */;
  text-decoration: underline dotted /* 2 */;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace /* 1 */;
  font-size: 1em /* 2 */;
}
dfn {
  font-style: italic;
}
mark {
  color: #000;
  background-color: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif /* 1 */;
  font-size: 100% /* 1 */;
  line-height: 1.15 /* 1 */;
  margin: 0 /* 2 */;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button /* 2 */;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
button::-moz-focusring,
[type="button"]::-moz-focusring,
[type="reset"]::-moz-focusring,
[type="submit"]::-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  display: table /* 1 */;
  box-sizing: border-box /* 1 */;
  max-width: 100% /* 1 */;
  padding: 0 /* 3 */;
  white-space: normal /* 1 */;
  color: inherit /* 2 */;
}
progress {
  display: inline-block /* 1 */;
  vertical-align: baseline /* 2 */;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box /* 1 */;
  padding: 0 /* 2 */;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield /* 1 */;
  outline-offset: -2px /* 2 */;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button /* 1 */;
  font: inherit /* 2 */;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
::-moz-selection {
  background-color: #d2d9d3;
  text-shadow: none;
}
::selection {
  background-color: #d2d9d3;
  text-shadow: none;
}
a {
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-skip: ink;
  text-decoration-color: #c2c2c2;
  color: #424242;
}
a:visited {
  color: #424242;
}
a:hover {
  text-decoration-line: underline;
  color: #1c1c1c;
}
a:active {
  color: #353535;
}
html {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', 'Source Han Sans SC', 'WenQuanYi Micro Hei', 'Microsoft Yahei', 'Hiragino Sans GB', 'STXihei', 'SimSun', sans-serif;
  font-size: 20px;
  line-height: 2;
  height: 100%;
  letter-spacing: 0.05em;
}
body {
  font-size: 1rem;
  height: 100%;
  color: #424242;
  background: #f8f7f5;
}
.ir,
.header .logo a {
  overflow: hidden;
  border: 0;
  background-color: transparent;
}
.ir:before,
.header .logo a:before {
  display: block;
  width: 0;
  height: 100%;
  content: '';
}
.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 15rem 0 auto auto 15rem;
  grid-template-areas: '.  header .' '.    nav  .' '. content .' '.  side   .' 'footer  footer footer';
  grid-gap: 0 2rem;
  min-height: 100%;
}
.header {
  grid-area: header;
  align-self: center;
}
.nav {
  grid-area: nav;
}
.content {
  grid-area: content;
  max-width: 38rem;
}
.side {
  grid-area: side;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 2rem;
  align-content: start;
}
.footer {
  grid-area: footer;
  align-self: end;
}
@media (min-width: 1280px) {
  .container {
    grid-template-columns: auto 38rem 14rem auto;
    grid-template-rows: 15rem 0 auto 15rem;
    grid-template-areas: '. header   header .' '. nav         nav .' '. content    side .' 'footer footer   footer footer';
    grid-gap: 0 4rem;
  }
}
.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-size: 1rem;
}
.nav>a {
  margin: -15rem 0.5rem auto;
  text-decoration-line: none;
}
.nav>a:first-of-type {
  margin-left: 0;
}
.nav>a:last-of-type {
  margin-right: 0;
}
.nav>a::before {
  font-size: 0.75rem;
  margin-right: 0.5rem;
}
.nav>a:nth-of-type(1) {
  display: inline-block;
  padding: 0 0.5em;
  color: #fff;
  border-radius: 0.125rem;
  background: #424242;
}
.nav>a:nth-of-type(1) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-right: auto;
}
.header {
  text-align: center;
}
.header .logo {
  margin: auto;
}
.header .logo a {
  display: block;
  width: 44px;
  height: 70px;
  margin: auto;
  background: url("../images/logo.png") no-repeat;
}
.side {
  font-size: 0.875rem;
}
.footer {
  font-size: 0.75rem;
  position: relative;
  text-align: center;
  color: #999d99;
}
.footer .foot-logo {
  position: absolute;
  top: -11px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background: url("../images/logo2.png") no-repeat;
}
.post-body {
  text-align: justify;
}
.post-list {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 6rem 0;
}
.post-list .post {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: flex-start;
}
.post-list .post-time {
  order: 1;
  font-size: 0.75rem;
  color: #999d99;
  margin-bottom: -1rem;
}
.post-list .post-title {
  order: 2;
  font-size: 1.5rem;
  line-height: 1.5;
}
.post-list .post-author {
  order: 3;
  font-size: 0.75rem;
}
.post-list .post-author {
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-skip: ink;
  text-decoration-color: #fff;
  color: #999d99;
}
.post-list .post-author:visited {
  color: #999d99;
}
.post-list .post-author:hover {
  text-decoration-line: underline;
  color: #727772;
}
.post-list .post-author:active {
  color: #8c918c;
}
.post-list .post-body {
  order: 4;
}
.post-list .post-tags {
  order: 5;
  font-size: 0.75rem;
}
.post-list .post-tags a {
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
}
.post-list .post-tags a {
  display: inline-block;
  padding: 0 0.5em;
  color: #424242;
  border-radius: 0.125rem;
  background: #e7e8e7;
}
.post-list .post-tags a:last-of-type {
  margin-right: 0;
}
.post-list .keepOnReading {
  order: 6;
  font-size: 0.75rem;
}
.post-list .keepOnReading {
  display: inline-block;
  padding: 0 0.5em;
  color: #fff;
  border-radius: 0.125rem;
  background: #424242;
}
.form-horizontal .form-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}
.form-horizontal .col {
  margin-right: 0.5rem;
}
.form-horizontal .col:last-of-type {
  margin-right: 0;
}
.form-horizontal .col-fixed {
  flex-grow: 0;
}
.form-horizontal .col-stretch {
  flex-grow: 1;
}
.form-horizontal .col-stretch .form-control {
  box-sizing: border-box;
  width: 100%;
}
.side-tags .tags {
  margin-right: -0.5rem;
}
.side-tags .tags a {
  display: inline-block;
  word-break: keep-all;
  margin: 0 0.5rem 0.5rem 0;
}
.side-tags .tags a {
  display: inline-block;
  padding: 0 0.5em;
  color: #424242;
  border-radius: 0.125rem;
  background: #e7e8e7;
}
.side-tags .tags a:last-of-type {
  margin-right: 0;
}
.side-archives ol {
  padding-left: 0;
  list-style: none;
}
.side-archives ol span {
  margin-left: 0.5rem;
  color: #999d99;
}
.side-archives ol span::before {
  content: '[';
}
.side-archives ol span::after {
  content: ']';
}
.side-links dl dt,
.side-links dl dd {
  margin-left: 0;
  color: #999d99;
}
.markdown-post >:first-child {
  margin-top: 0 !important;
}
.markdown-post >:last-child {
  margin-bottom: 0 !important;
}
.markdown-post a:link {
  text-decoration: none;
}
.markdown-post a:hover {
  text-decoration: underline;
}
.markdown-post h1,
.markdown-post h2,
.markdown-post h3,
.markdown-post h4,
.markdown-post h5,
.markdown-post h6 {
  font-weight: 700;
  cursor: text;
  position: relative;
  margin: 50px 0 10px;
  padding: 0;
  line-height: 1.5;
}
.markdown-post h1,
.markdown-post h2 {
  text-align: center;
  margin-bottom: 30px;
}
.markdown-post h1:hover a.anchor,
.markdown-post h2:hover a.anchor,
.markdown-post h3:hover a.anchor,
.markdown-post h4:hover a.anchor,
.markdown-post h5:hover a.anchor,
.markdown-post h6:hover a.anchor {
  text-decoration: none;
}
.markdown-post h1 {
  font-size: 1.25em;
}
.markdown-post h2 {
  font-size: 1.2em;
}
.markdown-post h3 {
  font-size: 1.15em;
}
.markdown-post h4 {
  font-size: 1.1em;
}
.markdown-post h5 {
  font-size: 1em;
}
.markdown-post h6 {
  color: #777;
  font-size: 1em;
}
.markdown-post p,
.markdown-post blockquote,
.markdown-post ul,
.markdown-post ol,
.markdown-post table,
.markdown-post pre {
  margin: 15px 0;
}
.markdown-post ol ul,
.markdown-post ul ol,
.markdown-post ul ul,
.markdown-post ol ol {
  margin: 0;
}
.markdown-post hr {
  border: 0 none;
  color: #ccc;
  height: 4px;
  padding: 0;
}
.markdown-post ul,
.markdown-post ol {
  padding-left: 30px;
}
.markdown-post ul {
  list-style: disc;
}
.markdown-post ol {
  list-style: decimal;
}
.markdown-post blockquote {
  border-left: 4px solid #ddd;
  color: #777;
  padding: 0 15px;
}
.markdown-post blockquote p {
  font-size: 1em;
}
.markdown-post table {
  font-size: 1em;
  table-layout: auto;
  border-collapse: collapse;
}
.markdown-post table tr {
  border-top: 1px solid #ccc;
  background: #fff;
  margin: 0;
  padding: 0;
}
.markdown-post table tr:nth-child(2n) {
  background: #f8f8f8;
}
.markdown-post table th {
  font-weight: 700;
  border: 1px solid #ccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.markdown-post table td {
  border: 1px solid #ccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.markdown-post img {
  max-width: 100%;
}
.markdown-post pre,
.markdown-post code {
  background: #f8f8f8;
  border-radius: 3px;
  font-family: 'Dejavu Sans Mono', 'Monaco', monospace;
  font-size: 0.85em;
}
.markdown-post code {
  color: #6d6d6d;
  background: #fff;
  border-radius: 3px;
  white-space: nowrap;
  border: 1px solid #f2f2f2;
  margin: 0 2px;
  padding: 0 5px;
}
.markdown-post pre {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  line-height: 22px;
  overflow: auto;
  padding: 6px 10px;
}
.markdown-post pre code {
  color: #4c4c4c;
  white-space: pre;
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
}
.markdown-post pre .comment,
.markdown-post pre .template_comment,
.markdown-post pre .diff .header,
.markdown-post pre .javadoc {
  color: #969696;
/*font-style italic*/
}
.markdown-post pre .keyword,
.markdown-post pre .css .rule .keyword,
.markdown-post pre .winutils,
.markdown-post pre .javascript .title,
.markdown-post pre .nginx .title,
.markdown-post pre .subst,
.markdown-post pre .request,
.markdown-post pre .status {
  color: #58c261;
/*font-weight bold*/
}
.markdown-post pre .number,
.markdown-post pre .hexcolor,
.markdown-post pre .ruby .constant {
  color: #000080;
}
.markdown-post pre .string,
.markdown-post pre .tag .value,
.markdown-post pre .phpdoc,
.markdown-post pre .tex .formula {
  color: #ad9c65;
}
.markdown-post pre .title,
.markdown-post pre .id {
  color: #900;
  font-weight: bold;
}
.markdown-post pre .javascript .title,
.markdown-post pre .lisp .title,
.markdown-post pre .clojure .title,
.markdown-post pre .subst {
  font-weight: normal;
}
.markdown-post pre .class .title,
.markdown-post pre .haskell .type,
.markdown-post pre .vhdl .literal,
.markdown-post pre .tex .command {
  color: #090;
  font-weight: bold;
}
.markdown-post pre .tag,
.markdown-post pre .tag .title,
.markdown-post pre .rules .property,
.markdown-post pre .django .tag .keyword {
  color: #000080;
  font-weight: normal;
}
.markdown-post pre .attribute,
.markdown-post pre .variable,
.markdown-post pre .lisp .body {
  color: #58c261;
}
.markdown-post pre .regexp {
  color: #009926;
}
.markdown-post pre .class {
  color: #090;
  font-weight: bold;
}
.markdown-post pre .symbol,
.markdown-post pre .ruby .symbol .string,
.markdown-post pre .lisp .keyword,
.markdown-post pre .tex .special,
.markdown-post pre .prompt {
  color: #990073;
}
.markdown-post pre .built_in,
.markdown-post pre .lisp .title,
.markdown-post pre .clojure .built_in {
  color: #0086b3;
}
.markdown-post pre .preprocessor,
.markdown-post pre .pi,
.markdown-post pre .doctype,
.markdown-post pre .shebang,
.markdown-post pre .cdata {
  color: #999;
  font-weight: bold;
}
.markdown-post pre .deletion {
  background: #fdd;
}
.markdown-post pre .addition {
  background: #dfd;
}
.markdown-post pre .diff .change {
  background: #0086b3;
}
.markdown-post pre .chunk {
  color: #aaa;
}
