extend layout
block page-header
  h1= title
block content
  form.form-horizontal(method='POST')
    div.form-group
      label.col-sm-2.control-label(for='inputTitle') 标题
      div.col.col-sm-10
        input#inputTitle.form-control(type='text', name='title', value=post.title)
    div.form-group
      label.col-sm-2.control-label(for='inputPost') 正文
      div.col.col-sm-10
        textarea#inputPost.form-control(name='post', rows='10')= post.post
    div.form-group
      label.col-sm-2.control-label(for='inputTags') 标签
      div.col.col-sm-10
        input#inputTags.form-control(type='text', name='tags', value=(post.tags ? post.tags.join(', ') : ''))
    div.form-group
      div.col.col-sm-10.col-sm-offset-2
        button.btn.btn-default(type='submit') 保存修改