<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/markdown.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="container">
  <header class="header page-header text-center">
    <h1><%= title %></h1>
  </header>
  <nav class="nav">
    <a href="/" title="主页"><i class="glyphicon glyphicon-home pull-right"></i><b class="">Home</b></a>
    <a href="/archive" title="存档"><i class="glyphicon glyphicon-book pull-right"></i><b class="">archive</b></a>
    <a href="/tags" title="标签"><i class="glyphicon glyphicon-tags pull-right"></i><b class="">Tags</b></a>
    <a href="/links" title="友情链接"><i class="glyphicon glyphicon-link pull-right"></i><b class="">Links</b></a>
    <% if (user) { %>
    <a href="/upload" title="上传"><i class="glyphicon glyphicon-upload pull-right"></i><b class="">Upload</b></a>
    <a href="/post" title="发表"><i class="glyphicon glyphicon-plus-sign pull-right"></i><b class="">Post</b></a>
    <a href="/logout" title="退出"><i class="glyphicon glyphicon-log-out pull-right"></i><b class="">Logout</b></a>
    <% } else { %>
    <a href="/login" title="登录"><i class="glyphicon glyphicon-log-in pull-right"></i><b class="">Login</b></a>
    <a href="/reg" title="注册"><i class="glyphicon glyphicon-user pull-right"></i><b class="">Register</b></a>
    <% } %>
  </nav>
  <div class="search">
    <form action="/search" method="GET" class="form-inline">
      <input type="text" name="keyword" id="inputKeyword" class="keyword" placeholder="">
    </form>
  </div>
  <article class="content">
    <% if (success) { %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= success %>
    </div>
    <% } %>
    <% if (error) { %>
    <div class="alert alert-block alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= error %>
    </div>
    <% } %>