<%- include header %>
  <div class="links">
    <ul class="media-list">
      <li class="media">
        <div class="media-body">
          <a class="media-heading" href="http://host/">localhost</a>
          <p class="text-muted">Lorem ipsum dolor sit amet.</p>
        </div>
      </li>
      <li class="media">
        <div class="media-body">
          <a class="media-heading" href="http://host/plugins">Plugins</a>
          <p class="text-muted">Lorem ipsum dolor sit amet.</p>
        </div>
      </li>
      <li class="media">
        <div class="media-body">
          <a class="media-heading" href="http://curce/">Curce</a>
          <p class="text-muted">Lorem ipsum dolor sit amet.</p>
        </div>
      </li>
    </ul>
  </div>
<%- include footer %>