extends layout
block page-header
  h1= title
block content
  form.form-horizontal(method='POST', autocomplete='off')
    div.form-group
      label.col-sm-2.control-label(for="inputName") 用户名
      div.col.col-sm-4.control-wrapper.half
        input#inputName.form-control.input-sm(type="text", name="name")
    div.form-group
      label.col-sm-2.control-label(for="inputPassword") 密码
      div.col.col-sm-4.control-wrapper.half
        input#inputPassword.form-control.input-sm(type="password", name="password")
    div.form-group
      div.col.col-sm-4.col-sm-offset-2.opaque-label.control-wrapper.half
        button.btn.btn-default.btn-sm.btn-block(type="submit") 登录
