.post-list
  each post, index in posts
    section.post
      header
        h2.post-title
          a(href='/p/' + post._id)= post.title
        .post-meta.small.text-muted
          span.post-tags
            if post.tags && post.tags.length
              each tag in post.tags
                a(href='/tag/' + tag)= tag
            else
              | &nbsp;
          span.post-time= post.time.minute
      .post-body.markdown-post
        != post.summary || post.content
      footer
        a.keepOnReading(href='/p/' + post._id) 继续阅读
include pager.pug
