/* base */
$linkcolor = #a5c2a7
$hovercolor = darken($linkcolor, 15)
$activecolor = darken($linkcolor, 5)
$basecolor = #2dc460
$textcolor = #81817d
$mutedcolor = #b3b3ad
$background = #f8f7f0
$headinglink = #4c4c4a
$headinghover = darken($headinglink, 15)
$headingactive = darken($headinglink, 5)
$bordercolor = #f0efe9
$selectcolor = #d2d9d3

$sansserif = 'Helvetica Neue', Arial, 'WenQuanYi Micro Hei', 'Microsoft Yahei', 'Hiragino Sans GB', STXihei, SimSun, sans-serif
$serif = 'Droid Serif', 'Times New Roman', SimSun, serif

::-moz-selection
  background-color: $selectcolor
  text-shadow: none

::selection
  background-color: $selectcolor
  text-shadow: none

::-webkit-scrollbar
  width: 6px
  height: 6px

::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1)
  background: $background
  
::-webkit-scrollbar-thumb
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1)
  background: $selectcolor
    
::-webkit-scrollbar-track:window-inactive
  -webkit-box-shadow: none
  background: none

::-webkit-scrollbar-thumb:window-inactive
  -webkit-box-shadow: none
  background: none

body
  font: 14px/1.8 $sansserif
  color: #666
  background: $background

a
  color: $linkcolor
  text-decoration: none
  &:hover
    color: $hovercolor
    text-decoration: underline

.clearfix
  *zoom: 1
  &:before, &:after
    content: ''
    display: table
  &:after
    clear: both

.pull-left
  float: left !important

.pull-right
  float: right !important

.hide
  display: none !important

.show
  display: block !important

.invisible
  visibility: hidden

.ir
  background-color: transparent
  border: 0
  overflow: hidden
  *text-indent: -9999px
  *white-space: nowrap

  &:before
    content: ''
    display: block
    width: 0
    height: 100%

.ibw
  font-size: 0
  line-height: 0
  letter-spacing: -5px
  *letter-spacing: normal
  *word-spacing: -1px

.ib
  display: inline-block
  *zoom: 1
  *display: inline
  font-size: 12px
  line-height: 1.5em
  letter-spacing: normal
  word-spacing: normal
  vertical-align: top

center-block(left = auto, right = auto)
  display: block
  margin-left: left
  margin-right: right

.center-block
  center-block()

.left-block
  center-block(0, auto)

.right-block
  center-block(auto, 0)

.text-left
  text-align: left

.text-right
  text-align: right

.text-center
  text-align: center

h1
  font-size: 2em
  margin: 0.67em 0

h2
  font-size: 1.5em
  margin: 0.83em 0

h3
  font-size: 1.17em
  margin: 1em 0

h4
  font-size: 1em
  margin: 1.33em 0

h5
  font-size: 0.83em
  margin: 1.67em 0

h6
  font-size: 0.67em
  margin: 2.33em 0

.heading
  font: 24px/1.2 $sansserif

.text
  font: 16px/2 $serif

.text-muted
  color: $mutedcolor

.small
  font-size: 85%


/* site */
.top
  height: 6px
  background: #333
  .flag
    position: absolute
    right: 50%
    width: 150px
    height: 6px
    margin-right: 330px
    background: $linkcolor

.container
  position: relative
  margin: -1px auto 0
  padding: 1px 0 0 0
  width: 600px

.nav
  position: absolute
  text-transform: uppercase
  right: 100%
  top: 228px
  margin-right: 30px
  width: 150px

  text-align: right
  font-size: 12px
  line-height: 14px
  
  a
    float: right
    clear: right
    text-decoration: none
    padding: 4px 2px
    color: #999
    height: 14px
    &:hover
      color: $linkcolor
  b
    display: none
    font-size: 12px
    font-weight: normal
  i
    top: 0
    margin-left: 0.5em
    line-height: 1
  .sep
    clear: both
    display: block
    height: 14px

  &:hover
    b
      display: inline

.header
  @extend .text-center
  height: 70px
  padding: 85px 0 28px
  margin-bottom: 40px
  background: url(../images/sep.png) center bottom no-repeat

  h1
    font-size: 36px
    margin: 0
    line-height: 70px

  .logo
    @extend .center-block
    background: url(../images/logo.png) no-repeat
    width: 44px
    height: 70px

.footer
  border-top: solid 1px #eee
  padding: 15px 0
  margin: 50px 0 0 0
  color: #ccc

  p
    margin: 0

.content
  min-height: 150px

.post
  margin: 0 0 50px

  header,
  footer
    @extend .text-center

  &:first-child,
  &>:first-child
    margin-top: 0

  &:last-child
  &>:last-child
    margin-bottom: 0

.post-title
  @extend .heading
  margin-top: 0
  margin-bottom: 0
  a
    color: $headinglink

.post-meta
  span
    display: block

.post-body
  @extend .text
  margin: 25px 0
  padding: 0 15px

.post-options
  margin-top: 14px

.index
  .post
    padding-bottom: 25px
    background: url(../images/sep2.png) center bottom no-repeat

  .post-last
    background: none
    padding-bottom: 0

  .post-body
    font-size: 14px
    line-height: 1.8

.article 
  .post-meta
    font-size: 12px
    position: absolute
    left: 100%
    top: 228px
    width: 160px
    margin-left: 30px

// 编辑与删除功能
.edit
  margin: 3px
  padding: 2px 5px
  border-radius: 3px
  background-color: #f3f3f3
  color: #333
  font-size: 13px
  &:hover
    text-decoration: none
    background-color: $linkcolor
    color: #fff

.archive
  ul
    list-style: none
    line-height: 2
    padding: 0
  h4
    text-align: center
  time
    display: inline-block
    width: 6em

.search
  position: absolute
  right: 100%
  top: 23em
  margin-right: 20px
  width: 100px

  .keyword
    width: 88px
    padding: 3px 5px
    border: 0
    border-bottom: solid 1px #f2f2f2
    height: 14px
    line-height: 14px
    box-sizing: content-box
    outline: none
    color: #666

.pager
  @extend .clearfix
  .prev
    @extend .pull-left
  .next
    @extend .pull-right

.pnf404
  line-height: 150px

.avatar
  border-radius: 50%
  overflow: hidden