/* base */
::-moz-selection {
  background-color: #d2d9d3;
  text-shadow: none;
}
::selection {
  background-color: #d2d9d3;
  text-shadow: none;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background: #f8f7f0;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background: #d2d9d3;
}
::-webkit-scrollbar-track:window-inactive {
  -webkit-box-shadow: none;
  background: none;
}
::-webkit-scrollbar-thumb:window-inactive {
  -webkit-box-shadow: none;
  background: none;
}
body {
  font: 14px/1.8 'Helvetica Neue', Arial, 'WenQuanYi Micro Hei', 'Microsoft Yahei', 'Hiragino Sans GB', STXihei, SimSun, sans-serif;
  color: #666;
  background: #f8f7f0;
}
a {
  color: #a5c2a7;
  text-decoration: none;
}
a:hover {
  color: #77a37a;
  text-decoration: underline;
}
.clearfix,
.pager {
  *zoom: 1;
}
.clearfix:before,
.pager:before,
.clearfix:after,
.pager:after {
  content: '';
  display: table;
}
.clearfix:after,
.pager:after {
  clear: both;
}
.pull-left,
.pager .prev {
  float: left !important;
}
.pull-right,
.pager .next {
  float: right !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
  *white-space: nowrap;
}
.ir:before {
  content: '';
  display: block;
  width: 0;
  height: 100%;
}
.ibw {
  font-size: 0;
  line-height: 0;
  letter-spacing: -5px;
  *letter-spacing: normal;
  *word-spacing: -1px;
}
.ib {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}
.center-block,
.header .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.left-block {
  display: block;
  margin-left: 0;
  margin-right: auto;
}
.right-block {
  display: block;
  margin-left: auto;
  margin-right: 0;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center,
.header,
.post header,
.post footer {
  text-align: center;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
.heading,
.post-title {
  font: 24px/1.2 'Helvetica Neue', Arial, 'WenQuanYi Micro Hei', 'Microsoft Yahei', 'Hiragino Sans GB', STXihei, SimSun, sans-serif;
}
.text,
.post-body {
  font: 16px/2 'Droid Serif', 'Times New Roman', SimSun, serif;
}
.text-muted {
  color: #b3b3ad;
}
.small {
  font-size: 85%;
}
/* site */
.top {
  height: 6px;
  background: #333;
}
.top .flag {
  position: absolute;
  right: 50%;
  width: 150px;
  height: 6px;
  margin-right: 330px;
  background: #a5c2a7;
}
.container {
  position: relative;
  margin: -1px auto 0;
  padding: 1px 0 0 0;
  width: 600px;
}
.nav {
  position: absolute;
  text-transform: uppercase;
  right: 100%;
  top: 228px;
  margin-right: 30px;
  width: 150px;
  text-align: right;
  font-size: 12px;
  line-height: 14px;
}
.nav a {
  float: right;
  clear: right;
  text-decoration: none;
  padding: 4px 2px;
  color: #999;
  height: 14px;
}
.nav a:hover {
  color: #a5c2a7;
}
.nav b {
  display: none;
  font-size: 12px;
  font-weight: normal;
}
.nav i {
  top: 0;
  margin-left: 0.5em;
  line-height: 1;
}
.nav .sep {
  clear: both;
  display: block;
  height: 14px;
}
.nav:hover b {
  display: inline;
}
.header {
  height: 70px;
  padding: 85px 0 28px;
  margin-bottom: 40px;
  background: url("../images/sep.png") center bottom no-repeat;
}
.header h1 {
  font-size: 36px;
  margin: 0;
  line-height: 70px;
}
.header .logo {
  background: url("../images/logo.png") no-repeat;
  width: 44px;
  height: 70px;
}
.footer {
  border-top: solid 1px #eee;
  padding: 15px 0;
  margin: 50px 0 0 0;
  color: #ccc;
}
.footer p {
  margin: 0;
}
.content {
  min-height: 150px;
}
.post {
  margin: 0 0 50px;
}
.post:first-child,
.post>:first-child {
  margin-top: 0;
}
.post:last-child,
.post>:last-child {
  margin-bottom: 0;
}
.post-title {
  margin-top: 0;
  margin-bottom: 0;
}
.post-title a {
  color: #4c4c4a;
}
.post-meta span {
  display: block;
}
.post-body {
  margin: 25px 0;
  padding: 0 15px;
}
.post-options {
  margin-top: 14px;
}
.index .post {
  padding-bottom: 25px;
  background: url("../images/sep2.png") center bottom no-repeat;
}
.index .post-last {
  background: none;
  padding-bottom: 0;
}
.index .post-body {
  font-size: 14px;
  line-height: 1.8;
}
.article .post-meta {
  font-size: 12px;
  position: absolute;
  left: 100%;
  top: 228px;
  width: 160px;
  margin-left: 30px;
}
.edit {
  margin: 3px;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: #f3f3f3;
  color: #333;
  font-size: 13px;
}
.edit:hover {
  text-decoration: none;
  background-color: #a5c2a7;
  color: #fff;
}
.archive ul {
  list-style: none;
  line-height: 2;
  padding: 0;
}
.archive h4 {
  text-align: center;
}
.archive time {
  display: inline-block;
  width: 6em;
}
.search {
  position: absolute;
  right: 100%;
  top: 23em;
  margin-right: 20px;
  width: 100px;
}
.search .keyword {
  width: 88px;
  padding: 3px 5px;
  border: 0;
  border-bottom: solid 1px #f2f2f2;
  height: 14px;
  line-height: 14px;
  box-sizing: content-box;
  outline: none;
  color: #666;
}
.pnf404 {
  line-height: 150px;
}
.avatar {
  border-radius: 50%;
  overflow: hidden;
}
