extends layout.pug
block page-header
  h1.logo
    a(href=`/`)= `${title}`
block content
  .article.post
    h1.post-title
      = `${post.title}`
    .post-body.markdown-post
      != `${post.content}`
  include comment.pug
block side
  include side-post-metas.pug
    
