section.side-links
  header
    h3= `链接`
  article
    dl
      +link(`localhost`, `Lorem ipsum dolor sit amet.`, `http://lo/`)
      +link(`Plugins`, `Lorem ipsum dolor sit amet.`, `http://lo/plugins`)
      +link(`Curce`, `Lorem ipsum dolor sit amet.`, `http://curce/`)
