extends layout.pug
block page-header
  h1 #{title}
block content
  .links
    mixin link(title, desciption, url)
      .media-body
        a.media-heading(href=url) #{title}
        p.text-muted #{description}
    ul.media-list
      li.media
        +link('localhost', 'Lorem ipsum dolor sit amet.', 'http://lo/')
      li.media
        +link('Plugins', 'Lorem ipsum dolor sit amet.', 'http://lo/plugins')
      li.media
        +link('Curce', 'Lorem ipsum dolor sit amet.', 'http://curce/')
